@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');


body {
 font-family: 'Lato', sans-serif;  
 background-color: rgba(245, 239, 232, 0.96);
}

h1, h2, h3 {
  font-family: 'Lora', serif;
}

@import "tailwindcss";